<!DOCTYPE html>
<html>
<head>
	<title>Flower Catalog</title>
	<link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
	<h1 align="middle"><a href="index.html"></a> Guest Book</h1>
	<hr/>
	<div>
		<h2>Leave A Comment	</h2>
		<br>
		<form method="POST">
			<table>
				<tr> 
					<td>Name:</td> 
					<td><input type="text" name="name"><br></td>
				</tr>
				<tr>
					<td>Comment:</td>
					<td><textarea rows="6" cols="30" name="comment"></textarea> </td>
				</tr>
					<tr><td><input type="Submit" value="Submit"> </td>
				</tr>
			</table>
		</form>	
	</div>	
	<div id="comments">
		__COMMENTS_TABLE__
	</div>
</body>
</html>